h1{
    text-align: center;
    font-size: 60px;
}
.Aligner {
      height: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
       max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
 }
#table_div{
    display: inline-block;
    width: 100%;
    max-height: 700px;
    overflow-y: auto;
    
}
table{
    background-color: white!important;
    
    margin: 20px auto 20px auto;
    
}
thead{
    background-color: black!important;
    color: white;
}

.table-text{
    text-align: center;
    font-size: 25px;
}

#btn_all{
   
    font-size: 25px;
    height:auto; 
    width:150px!important; 
   
  
}
    
