html{
    font-size: 30px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    min-width: 20rem;
    min-height: 80%;
    max-height: 100%;
    text-align: center;
    margin: 0;
    display: inline-block;
}
ul{
    text-align: center;
    margin: 0;
    padding: 0;
    
}
ul li{
    display: inline-block;
}


/*整體工時區塊*/

.worktime_div{
    display:inline-block;
    width: 90%;
    min-width: 40rem;
    height: 17rem;
    padding: 10px 10px;
    margin-top: 1rem;
    border-radius: 1rem;
}
.worktime_div>ul{
    display:inline-block;
    width: 100%;
    min-width: 40rem;
    height: 90%;
    overflow-y: auto;
    overflow-x:visible;
}


.worktime_div >ul>li{
    width: calc(100% - 3px);
    min-width: 40rem;
}

/*搜尋欄*/
#search_form{
    
}
#search_form *{
    font-size: 0.7rem;
}
/*簡－工時標題*/
.wt_title{
    display: inline-block;
    width: 100%;
    height:auto;
    min-height: 1.5rem;
    line-height: 1.5rem;
    border-bottom: 1px red solid;
    border-radius: 0.5rem;
    background-color: black;
}
.wt_title *{
    display: inline-block;
    width: calc(100%/11 - 1px);
    min-width: 3.53rem;
    border-right: 1px #b7b7b7 solid;
    
    color: aliceblue;
    
}
.wt_title span:last-child{
    cursor: pointer;
    max-width: 5.2rem;
}



/*簡－單筆工時*/
.worktime_data_li{
    width: 99%;
    height: 1.5rem;
    
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
    
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px #5f5f5f;
    transition: height 0.5s;
}

.wt_header_div>div>input {
    width: 1rem;
    height: 1rem;
}
.wt_header_div>*{
    display:inline-block;
    width: calc(100%/11 - 1px);
    border-right: 1px black solid;
    min-width: 3.53rem;
    height: 1.5rem;
    float: left;
    line-height: 1.5rem;
}
.wt_header_time *{
    display: inline-block;
    width: 50%;
    min-width: 1.5rem;
    height: auto;
    float: left;
    line-height: 1.5rem;
}

/*詳-工時填寫區塊*/
.wt_detail{
    display: inline-block;
    width: 100%;
    height: calc(1.5rem + 1.5rem + 3rem*3 + 3rem);
    
    cursor:auto;
    min-height: calc(1.5rem + 2rem*3);
    
}



/*詳-工時填寫內容(專案)*/
.wt_detail_div{
    display: inline-block;
    width: 99%;
    height: calc(1.5rem + 3rem*3);
    border-top: 1px #000000 solid;
    border-bottom: 1px #000000 solid;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: azure;
}
.wt_detail_div :disabled{
    
    background-color: rgba(167, 167, 167, 0.25);
}
.wt_detail table{
    width: 98%;
    height: auto;
    margin: 20px auto 2rem auto;
    background-color: black;
    box-shadow: 5px 5px 30px 2px #676767;
}
.wt_detail table tr{
    height: 2rem;
    max-height: 2rem;
    background-color: #ffffff;
}
.wt_detail table tr td{
    min-width: 5rem;
}
.wt_detail table tr:first-child{
    height: 1.5rem;
    color: #000000;
    background-color: #c1c1c1;
}
.wt_detail table td:nth-child(2){
    min-width: calc(3.53rem*3);
}
.wt_detail table input{
    max-width: 4rem;
    font-size: 1rem;
    text-align: center;
}
.wt_detail textarea{
    margin: 0;
    width: 90%;
    font-size: 1rem;
}

/*審核工時按鈕區*/
.m_wt_btn_div{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 3rem;
    line-height: 2.5rem;
}
.m_wt_btn{
    position: absolute;
    font-size: 1rem;
    width: auto;
    height: 1.5rem;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
    
}
.m_wt_btn_ok{
    display: inline-block;
    top: 0.5rem;
    left:5rem;;
}
.m_wt_btn_notok{
    display: inline-block;
    top: 0.5rem;
    right: 5rem;
}
.m_wt_R_textarea{
    display: inline-block;
    position: absolute;
    font-size: 1rem;
    width: auto!important;
    max-width: 20rem;
    right: 11rem;
}

#m_wt_btn_div input{
    font-size: 1rem;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.3s;
}
#m_wt_btn_div input:disabled,.m_wt_btn_notok:disabled{
    opacity: 0.6;
}








.holiday{
    background-color: rgba(255, 107, 107, 0.34);
}
